astroid==2.4.2
certifi==2020.6.20
chardet==3.0.4
future==0.18.2
idna==2.10
isort==4.3.21
itchat==1.2.32
Jinja2==2.11.2
lazy-object-proxy==1.4.3
MarkupSafe==1.1.1
mccabe==0.6.1
numpy==1.19.0
prettytable==0.7.2
pyecharts==1.8.1
pylint==2.5.3
pypng==0.0.20
PyQRCode==1.2.1
requests==2.24.0
schedule==0.6.0
selenium==3.141.0
simplejson==3.17.0
six==1.15.0
toml==0.10.1
typed-ast==1.4.1
urllib3==1.25.9
wrapt==1.12.1
wxpy==0.3.9.8
